.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

h2 {
  font-size: 32px;
  line-height: 36px;
  color: #000;
}

.intro {
  font-size: 20px;
  color: #666;
  text-align: center;
}

.features {
  padding-top: 40px;
}

#feature {
  background: #f2f2f2;
  padding: 40px 0;
}

#feature h2 {
  margin-top: 10px;
  text-align: center;
}

.feature-item {
  padding-bottom: 55px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.feature-item span {
  width: 65%;
  padding: 10px 0px 10px 20px;
}

.feature-item h3 {
  font-size: 16px;
  color: #666;
  line-height: 24px;
}

.feature-item p {
  font-size: 14px;
  line-height: 16px;
  color: #787878;
}

.feature-item i {
  font-size: 48px;
  height: 110px;
  width: 110px;
  margin: 3px;
  background: #fff;
  border-radius: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
  color: #2a9999;
}

