* {
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}

.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

h1 {
  font-size: 36px;
  line-height: 40px;
}

h2 {
  font-size: 26px;
  line-height: 30px;
  color: #000;
}

.intro {
  font-size: 20px;
  color: #666;
  text-align: center;
  width: 60%;
  margin: 0 auto;
}

#startpage #articles {
  padding: 40px 0;
}

.features {
  padding-top: 40px;
}

#startpage #services {
  background: #f2f2f2;
  padding: 40px 0;
}

#about {
  padding: 60px 0;
}

#aboutpage {
  padding: 40px 0;
}

#aboutpage .intro {
  text-align: left;
  color: #000;
  font-weight: 500;
  margin: 0;
  padding: 20px 0 5px;
}

#servicespage {
   padding: 40px 0;
}

#services {
  padding: 40px 0;
}

#contactpage {
  padding: 40px 0;
}

#contacts {
  padding-top: 40px;
}